


{{!-- SHOULD CHANGE TO THIS IF IT IS LOGGED IN --}}

{{#if isLoggedUser}}
<h3 >Here is your profile information:</h3>

<img src="{{user.userImage}}" alt="Profile picture" >

<p>Username: {{user.username}} </p>

<p>Email: {{user.email}}</p>
<p>Job: {{user.job}}</p>
<p>Full name: {{user.fullName}}</p>
<p>Date of Birth: {{user.dateOfBirth}} </p>
<p>Sex: {{user.sex}} </p>
<p>Job: {{user.job}}</p>
<p>Address: {{user.adress}}</p>
<p>Phone: {{user.phone}}</p>
<p>Family structure: {{user.familyStructure}}</p>

<p>Comments: {{user.comments}}</p>

<p>Please, fill the information above. This will be usefull for us to get to
  know you</p>

<a href="/profile/{{user._id}}/profile-edition">Edit your profile</a>

<form action="/profile/{{user._id}}/delete" method="post">
   <button type="submit">Delete your profile</button>
{{/if}}

</form>


