 
<h2>Adoption Form</h2>

  <p>Username: {{newForm.username}}</p>

  <p>Name:{{newForm.name}}</p>
  <p>Type of animal: {{newForm.puppyType}}</p>
  <p>Date of birth: {{newForm.puppyDateOfBirth}}</p>
  <p>Sex: {{newForm.puppySex}}</p>
  <p>Breed: {{newForm.puppyBreed}}</p>
  <p>Colour: {{newForm.puppyColour}}</p>
  <p>Family options: {{newForm.puppyFamilyOptions}}</p>

  <p>Comments: {{newForm.comments}}</p>


{{!-- <a href="adoption-form">Back</a> --}}
