<div class="listcat">  

<h2>Here are our lovely cats </h2>

{{#each allCats}}
<img src={{!--Photo URL--}} alt ="cat photo">  

<p>Name: {{this.name}}</p>
<p>Breed: {{this.breed}}</p>
<p>Date of Birth {{this.dateOfBirth}}</p>
<p>Sex: {{this.sex}}</p>
<p>Colour: {{this.colour}}</p>
<p>Family options: {{this.familyOptions}}</p>

{{/each}}

<a href="adoption-form">Adoption Form</a>

</div>