

<div class="container-sm">
    <h3>Here are our lovely cats </h3>

        <div class="row gx-5 gy-5">
            {{#each allCats}}
                <div class="col-12 col-sm-4 col-md-3">
                    <img src="{{this.image}}"  class="img" alt ="Cat photo">  

                    <p>Name: {{this.name}}</p>
                    <p>Date of Birth {{this.birthDate}}</p>
                    <p>Sex: {{this.sex}}</p>
                    <p>Breed: {{this.breed}}</p>
                    <p>Colour: {{this.colour}}</p>
                    <p>Family options: {{this.familyOptions}}</p>

                    <p>Comments: {{this.comments}}</p>

                    <a href="/adopt/{{this._id}}/adoption-form">Adoption Form</a>
                    
                    {{#compareIds this.user_id ../loggedInUserId}}
                        <a href="/adopt/{{this._id}}/give-in-adoption/update">Do you want to change any information or delete the formulary?</a>
                    {{/compareIds}}
                </div>
            {{/each}}
        </div>
    <a href="/adopt">Back</a>
</div>




