<div class="listcat">  

<h2>Here are our lovely cats </h2>

{{#each allCats}}

<img src="{{this.image}}" alt ="Cat photo">  

<p>Name: {{this.name}}</p>
<p>Date of Birth {{this.dateOfBirth}}</p>
<p>Sex: {{this.sex}}</p>
<p>Breed: {{this.breed}}</p>
<p>Colour: {{this.colour}}</p>
<p>Family options: {{this.familyOptions}}</p>

<p>Comments: {{this.comments}}</p>

<a href="adoption-form">Adoption Form</a>
<br>
<br>

{{/each}}


</div>

