<h2>Update your Puppy</h2>

<form action="/adopt/{{puppy._id}}/give-in-adoption/update" method="post">
  <label for="typeOfAnimal">Type of animal:</label>
  <input type="text" name="typeOfAnimal" value="{{puppy.puppyType}}">

  <label for="name">Name</label>
  <input type="text" name="name" value="{{puppy.name}}">

  <label for="birthDate">Date of Birth</label>
  <input type="date" name="birthDate" value="{{puppy.birthDate}}">

  <label for="sex">Sex</label>
  <input type="text" name="sex" value="{{puppy.sex}}">

  <label for="breed">Breed:</label>
  <input type="text" name="breed" value="{{puppy.breed}}">

  <label for="colour">Colour:</label>
  <input type="text" name="colour" value="{{puppy.colour}}">

  <label for="familyOptions">Family Options:</label>
  <input type="text" name="familyOptions" value="{{puppy.familyOptions}}">
  
  <label for="image">Puppy photo:</label>
  <input type="file" name="image" value="{{puppy.image}}">

  <br>

  <label for="comments">Is there anything else you want to tell us about the puppy?</label>
  <textarea name="comments" cols="30" rows="5" value="{{puppy.comments}}">{{puppy.comments}}</textarea>
  <br>

  <button type="submit">Update</button>

</form>

<a href="" class="links" >Back</a>


