
<div class="container-sm">
  <h3>Give in adoption form</h3>
  
  <h4>Here is the puppy you want to give in adoption!</h4>

  <h4> {{puppy.name}}</h4>

  <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
      <img src="{{puppy.image}}" alt="">
    </div>
    <div class="flex-grow-1 ms-3">
      <p>Type of animal: {{puppy.puppyType}}</p>
      <p>Date of birth:  {{puppy.birthDate}}</p>
      <p> Sex:  {{puppy.sex}}</p>
      <p> Breed:  {{puppy.breed}}</p>
      <p>Colour:  {{puppy.colour}}</p>
      <p> Family options:  {{puppy.familyOptions}}</p>

      <p>Comments:  {{puppy.comments}}</p>
    </div>
  </div>
  <a href="/adopt/{{puppy._id}}/give-in-adoption/update">Do you want to change any information or delete the formulary?</a>
</div>


  
  