
<h2>Give in adoption Form</h2>
 
<h3>Here is the puppy you want to give in adoption!</h3>


<p>Type of animal: {{newPuppy.puppyType}}</p>
<p>Name: {{newPuppy.name}}</p>
<p>Date of birth: {{newPuppy.birthDate}}</p>
<p>Sex: {{newPuppy.sex}}</p>
<p>Breed: {{newPuppy.breed}}</p>
<p>Colour: {{newPuppy.colour}}</p>
<p>Family options: {{newPuppy.familyOptions}}</p>
<p>Puppy photo: {{newPuppy.image}}</p>
<p>Comments: {{newPuppy.comments}}</p>
 
<a href="">Edit your puppy</a>
<a href="">Delete the give in adoption form</a>
