


<h2>Here are our lovely puppies from any other class</h2>

{{#each allOthers}}

<img src="{{this.image}}" alt ="Other type of animal photo">  

<p>Name: {{this.name}}</p>
<p>Date of Birth {{this.dateOfBirth}}</p>
<p>Sex: {{this.sex}}</p>
<p>Breed: {{this.breed}}</p>
<p>Colour: {{this.colour}}</p>
<p>Family options: {{this.familyOptions}}</p>

<p>Comments: {{this.comments}}</p>

 <a href="/adopt/{{this._id}}/adoption-form">Adoption Form</a>
<br>
<a href="adoption-form">Edit</a>
<br>

{{/each}}





