

<div class="otherlist">  

<h2>Here are our lovely puppies from any other class</h2>

{{#each allOthers}}
<img src={{!--Photo URL--}} alt ="puppy photo">  

<p>Type of animal:</p>
<p>Name: {{this.name}}</p>
<p>Breed: {{this.breed}}</p>
<p>Date of Birth {{this.dateOfBirth}}</p>
<p>Sex: {{this.sex}}</p>
<p>Colour: {{this.colour}}</p>
<p>Family options: {{this.familyOptions}}</p>

{{/each}}

<a href="adoption-form">Adoption Form</a>

</div>
