
<div class="container-sm">

    <h3>Hairdressers</h3>
    <h4>Does your puppy need a hair cut? Do you want your puppy to be the cuttets on earth?</h4>

    {{!-- <div id="mapid"></div>  --}}

    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-6">
            <div class="thumbnail"><!--when the photo is charged it should be shown beside the text--->
                
                {{#each allHairdressers}}
                    <div class="col-sm-6 col-md-6 col-xs-6">
                        <img src="{{this.image}}" alt ="Hairdresser photo">  
                    </div>

                    <div class="col-sm-6 col-md-6 col-xs-6">  

                        <p>Name: {{this.name}}</p>
                        <p>Address {{this.address}}</p>
                        <p>Contact: {{this.contact}}</p> 
                    </div>
                    
                    {{#compareIds this.user_id ../loggedInUserId}}
                        <a href="/puppy-care/{{this._id}}/partners-edition">Edit the service</a>
                    {{/compareIds}}
                {{/each}}

            </div>
        </div>  
    </div>        
    <a href="/puppy-care">Back</a>
</div>

 


                
      
    


