
<div class="container-sm">
    <h3>Puppy sitters</h3>
    <h4>Do you want to go to a dinner and don't have a puppy sitter?</h4>

    <div class="row gx-5 gy-5">
        {{#each allPuppysitters}}
            <div class="col-12 col-sm-4 col-md-3">
                <img src="{{this.image}}" alt ="Puppy Sitter photo">  

                <p>Name: {{this.name}}</p>
                <p>Address {{this.address}}</p>
                <p>Contact: {{this.contact}}</p>

                {{#compareIds this.user_id ../loggedInUserId}}
                <a href="/puppy-care/{{this._id}}/partners-edition">Edit the service</a>
                {{/compareIds}}
            </div>
        {{/each}}
    </div>

    <a href="/puppy-care">Back</a>
</div>