
<h2>Veterinary</h2>

<div class="container-sm">
   <div class="row gx-5 gy-5">
      {{#each allVeterinaries}}
         <div class="col-12 col-sm-4 col-md-3">
            <img src="{{this.image}}" alt ="Veterinary photo">  

            <p>Name: {{this.name}}</p>
            <p>Address {{this.address}}</p>
            <p>Contact: {{this.contact}}</p>

            <a href="/puppy-care/{{this._id}}/partners-edition">Edit the service</a>
         </div>
      {{/each}}
   </div>
</div>

 <p>Are you a veterinary? Do you want to join us? Click below and fill out the form. We'll love to have you with us!</p>

    <a href="partners-form">Be our partner!</a>

    <a href="/home">Back to home</a>